<div>
  <div>

    <input type="text" placeholder="Username" name="username" id="username" />

    <input
      type="password"
      placeholder="Password"
      name="password"
      id="password"
    />
    <button id="login">Log in</button>

  </div>
</div>
<script src="/js/login.js"></script>