{{!-- Insert products when rendered --}}
<h1>Products available:</h1>
<div>
    <ul id="products"></ul>
</div>
{{!-- Connecting scripts --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>